<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список читателей</title>
    <link th:href="@{/static/css/allPeople.css}" rel="stylesheet" />
</head>
<body>

<div class="container">
    <div class="link_box">
        <a class="link" th:href="@{/library/books}">К списку книг</a>
        <a class="link" th:href="@{/library}">В библиотеку</a>
    </div>

    <h3>Читатели библиотеки</h3>

    <form th:method="GET" th:action="@{/library/people/search}" th:object="${searchBy}">
        <input class="input" type="search" th:field="*{fullName}" id="fullName" placeholder="Введите имя.. "/>
        <input class="search" type="submit" value="🔍"/>
    </form>

    <div th:each="person :${people}">
        <a class="per_link" th:href="@{/library/people/{id}(id=${person.getId()})}"
           th:text="${person.getFullName() + ', ' + person.getBirthYear()}">person</a>
    </div>

    <a class="link2" th:if="${paging.getHasPrevious()}"
       th:href="@{/library/people?page={page}&items_per_page={items_per_page}&sort_by_year={sort_by_year}
       (page=${paging.getPage() - 1},items_per_page=${paging.getItemsPerPage()},sort_by_year=${paging.getSortByYear()})}">←previous</a>

    <a class="link2" th:if="${paging.getHasNext()}"
       th:href="@{/library/people?page={page}&items_per_page={items_per_page}&sort_by_year={sort_by_year}
       (page=${paging.getPage() + 1},items_per_page=${paging.getItemsPerPage()},sort_by_year=${paging.getSortByYear()})}">next→</a>

    <hr>
    <br>

    <a class="add" th:href="@{/library/people/new}">Добавить человека</a>
</div>

</body>
</html>