<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Удаление</title>
    <link th:href="@{/static/css/person.css}" rel="stylesheet" />
</head>
<body>

<div class="container">

    <h1 th:text="${'Вы уверены, что хотите удалить читателя: ' + person.getFullName() + '?'}">VALUE</h1>

    <div class="box">
        <form th:method="DELETE" th:action="@{/library/people/{id}(id=${person.getId()})}">
            <input class="del" type="submit" value="Удалить"/>
        </form>

        <form th:method="GET" th:action="@{/library/people/{id}(id=${person.getId()})}">
            <input class="upd" type="submit" value="Назад"/>
        </form>
    </div>

</div>

</body>
</html>