<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Изменение человека</title>
    <link th:href="@{/static/css/personEdit.css}" rel="stylesheet" />
</head>
<body>

<div class="container">
    <form th:method="PATCH" th:action="@{/library/people/{id}(id=${person.getId()})}" th:object="${person}">
        <label class="label" for="fullName">Введите ФИО: </label>
        <input class="input" type="text" th:field="*{fullName}" id="fullName"/>
        <div class="err"  th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">error</div>
        <br/>
        <label class="label" for="birthYear">Введите год рождения: </label>
        <input class="input" type="text" th:field="*{birthYear}" id="birthYear"/>
        <div class="err"  th:if="${#fields.hasErrors('birthYear')}" th:errors="*{birthYear}">error</div>
        <br/>
        <input class="upd" type="submit" value="Сохранить!"/>
    </form>

    </br>
    <a class="back" th:href="@{/library/people/{id}(id=${person.getId()})}">← Назад к человеку</a>
</div>

</body>
</html>